<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>	
  <welcome-file-list>
    <welcome-file>MyJsp.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  <description>汽车引擎</description>
  <servlet-name>CarInfoServlet</servlet-name>
  <servlet-class>cn.com.servlet.CarInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>CarInfoServlet</servlet-name>
  <url-pattern>/CarInfo.action</url-pattern>
  </servlet-mapping>
  <servlet>
  <description>汽车系列引擎</description>
  <servlet-name>ModelServlet</servlet-name>
  <servlet-class>cn.com.servlet.ModelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ModelServlet</servlet-name>
  <url-pattern>/Model.action</url-pattern>
  </servlet-mapping>
  <servlet>
  <description>用户信息引擎</description>
  <servlet-name>UserInfoServlet</servlet-name>
  <servlet-class>cn.com.servlet.UserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>UserInfoServlet</servlet-name>
  <url-pattern>/UserInfo.action</url-pattern>
  </servlet-mapping>
  <servlet>
  <description>会员中心操作引擎</description>
  <servlet-name>MemberCenterServlet</servlet-name>
  <servlet-class>cn.com.servlet.MemberCenterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>MemberCenterServlet</servlet-name>
  <url-pattern>/MemberCenter.action</url-pattern>
  </servlet-mapping>
  <servlet>
  <description>动态信息引擎</description>
  <servlet-name>TrendsServlet</servlet-name>
  <servlet-class>cn.com.servlet.TrendsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>TrendsServlet</servlet-name>
  <url-pattern>/Trends.action</url-pattern>
  </servlet-mapping>
  <servlet>
  <description>图片上传引擎</description>
  <servlet-name>ScImageServlet</servlet-name>
  <servlet-class>cn.com.servlet.ScImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ScImageServlet</servlet-name>
  <url-pattern>/ScImage.action</url-pattern>
  </servlet-mapping>
  <servlet>
  <description>管理员操作引擎</description>
  <servlet-name>ManagerServlet</servlet-name>
  <servlet-class>cn.com.servlet.ManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ManagerServlet</servlet-name>
  <url-pattern>/Manager.action</url-pattern>
  </servlet-mapping>
  <servlet>
  <description>后台处理车引擎</description>
  <servlet-name>MgCarInfoServlet</servlet-name>
  <servlet-class>cn.com.servlet.MgCarInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>MgCarInfoServlet</servlet-name>
  <url-pattern>/MgCar.action</url-pattern>
  </servlet-mapping>
  <servlet>
  <description>后台处理订单引擎</description>
  <servlet-name>MgorderServlet</servlet-name>
  <servlet-class>cn.com.servlet.MgorderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>MgorderServlet</servlet-name>
  <url-pattern>/Mgord.action</url-pattern>
  </servlet-mapping>
  <servlet>
  <description>后台处理用户引擎</description>
  <servlet-name>MgUserInfoServlet</servlet-name>
  <servlet-class>cn.com.servlet.MgUserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>MgUserInfoServlet</servlet-name>
  <url-pattern>/MgUsIn.action</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>YeJiservlet</servlet-name>
  <servlet-class>cn.com.servlet.Yejiservlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>YeJiservlet</servlet-name>
  <url-pattern>/yeji.action</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>PriceServlet</servlet-name>
  <servlet-class>cn.com.servlet.PriceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>PriceServlet</servlet-name>
  <url-pattern>/price.action</url-pattern>
  </servlet-mapping>
  <!-- Oracle数据库JNDI数据 -->
  <resource-ref>
  <description>Oracle DB Connection</description>
  <res-ref-name>jdbc/oracle</res-ref-name>
  <res-type>javax.sql.DataSource</res-type>
  <res-auth>Container</res-auth>
  </resource-ref>
  <filter>
  <description>编码过滤器</description>
  <filter-name>EncodingFilter</filter-name>
  <filter-class>cn.com.filter.EncodingFilter</filter-class>
  <init-param>
  <param-name>Encoding</param-name>
  <param-value>UTF-8</param-value>
  </init-param>
  </filter>
  <filter-mapping>
  <filter-name>EncodingFilter</filter-name>
  <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
  <description>管理员权限过滤器</description>
  <filter-name>AdminFilter</filter-name>
  <filter-class>cn.com.filter.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
  <filter-name>AdminFilter</filter-name>
  <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
</web-app>
